<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>where is Morty?</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="flex flex-col h-full">
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <img class="h-8 w-auto sm:h-10" src="../public/logo/logo.jpg">
    </div>
</div>

</div>


  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="sm:text-center lg:text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block xl:inline">Welcome but...</span>

        <span class="block text-red-700 xl:inline"> Where is Morty?</span>
      </h1>
      <p class="text-base text-gray-500 sm:text-center lg:text-center">
        Created by <a href="https:github.com/alejandro0619/">Alejandro </a>
      </p>
      <br>
      <section class="max-w-7xl mx=auto px-4 sm:px6 lg:px-8"> 
        <div class="sm:text-center lg:text-center">
          <!-- component -->
      <!-- This is an example component -->
      <div class="pt-2 relative mx-auto text-gray-600">
        <form action="/search-character" method="POST">
          <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"  name="searchName" placeholder="Search a character" required >

        <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
        </form>
      </div>
        </div>
       </section>

      <!--<div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
        <div class="rounded-md shadow">
          <a href="https://github.com/alejandro0619/express-gen-javascript" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-700 md:py-4 md:text-lg md:px-10">
            
          </a>
        </div>
      </div> -->

    </div>
  </main> 

  <script src="../public/javascript/index.js"></script>
</body>
</html>